:root {
  --navbar-height: 48px;
  --z-navbar: 1000;
}

.circular-image {
  border-radius: 50%;
  object-fit: cover;
}

.card {
  background: #00000060;
  border-radius: 12px;
  max-width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.markdown-body {
  background: #00000000;
  padding: 16px;
  max-width: 900px;
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

.markdown-body a {
  text-decoration: underline;
}

.markdown-body a:focus-visible {
  outline: 3px solid #ffffff;
  outline-offset: 4px;
}

.markdown-body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.markdown-body video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-bottom: 16px;
}

.tiled-bg {
  padding-top: var(--navbar-height);
  min-height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.32)), url("/assets/images/floor_tiles_4x4.png");
  background-attachment: fixed;
}

.navbar {
  display: block;
  font-family: arial;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: var(--navbar-height);
  background-color: #1e1b38ee;
  z-index: var(--z-navbar);
}

.navbar a {
  float: left;
  display: block;
  color: lightgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #322e5caa;
  color: white;
}

.navbar a.active {
  background-color: #322e5caa;
  color: white;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.expanded .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.expanded a {
    float: none;
    display: block;
    text-align: left;
  }
}
